<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>102510741200-3t2aqjpigfuck2v7je2la1gjcguk9b92.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOqYBkS0kQbaErjmuRwFK54VQzoSZh-3g</string>
	<key>GCM_SENDER_ID</key>
	<string>102510741200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abcz.phenom.app.stage</string>
	<key>PROJECT_ID</key>
	<string>phenom-7ee1a</string>
	<key>STORAGE_BUCKET</key>
	<string>phenom-7ee1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102510741200:ios:1cf800619f76fe323900d5</string>
	<key>DATABASE_URL</key>
	<string>https://phenom-7ee1a.firebaseio.com</string>
</dict>
</plist>